* {
    margin: 0;
    font-family: sans-serif;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

canvas {
    float: left;
    image-rendering: pixelated;
}

#infoCard {
    float: left;
    overflow-wrap: break-word;
}

#infoCard h2 {
    text-align: center;
}