* {
    margin: 0;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

canvas {
    margin: 8px;
    border: 2px solid black;
    float: left;
    image-rendering: pixelated;
}

#infoCard {
    float: left;
    margin: 8px;
    padding: 8px;
    width: 200px;
    max-width: 90%;
    overflow-wrap: break-word;
}

#infoCard h2 {
    text-align: center;
}